%pseudo-icon {
  content: "";
  top: 6px;
  left: -69px;
  position: absolute;
  transform: translateY(-25%);
}

.option {
  padding: 20px;
  background: $color-bg-basic-gray;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &__title {
    position: relative;
    line-height: 37px;
    text-transform: uppercase;
    margin: 0 0 28px 72px;

    &_slim::before,
    &_mass::before {
      @extend %pseudo-icon;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $color-primary;
    }

    &_slim::after {
      @extend %pseudo-icon;
      top: 4px;
      left: -64px;
      height: 50px;
      width: 36px;
      background: url("../images/icon/cat-slim.svg") no-repeat center/cover;
    }

    &_mass::after {
      @extend %pseudo-icon;
      top: 12px;
      left: -78px;
      height: 28px;
      width: 67px;
      background: url("../images/icon/cat-mass.svg") no-repeat center/cover;
    }
  }

  &__text {
    color: #444;
    font-family: "Arial", sans-serif;
    line-height: 18px;
    margin: 0 0 22px;
  }

  &__link {
    @extend %transition;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: $color-black;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    padding-top: 19px;
    border-top: 1px solid #d9d9d9;

    &::after {
      @extend %transition;
      content: "";
      margin-left: 12px;
      width: 24px;
      height: 11px;
      background: url("../images/icon/arrow.svg") no-repeat center/cover;
    }

    &:hover::after {
      width: 32px;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
