$font-primary: "Oswald", sans-serif;
$font-secondary: 'Arial', sans-serif;
$color-primary: #68B738D9;
$color-black: #000;
$color-white: #fff;
$color-gray: #CDCDCD;
$color-bg-gray: #EAEAEA;
$color-bg-option-gray: #F2F2F2;
$color-gray-dark: #444;

%transition {
  transition: 0.3s ease;
}
